body,
html {
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
  width: 100%;
}

div.container {
  height: 100%;
  width: 100%;
}

div.row-dux,
div.row-coletivo {
  width: 100%;
  height: 50%;
  margin: 0px auto;
}

div.row-dux {
  background-color: blueviolet;
}

a.title-1 {
  text-decoration: none;
}

h1.title-1 {
  text-decoration: none;
  font-size: 80px;
  color: white;
  text-align: center;
}

a.title-2 {
  text-decoration: none;
}

h1.title-2 {
  text-decoration: none;
  color: blueviolet;
  font-size: 80px;
  text-align: center;
  padding-left: 100px;
}

img {
  width: 40%;
  position: relative;
  right: 50px;
  bottom: 25px;
}

.dux-text,
.coletivo-text {
  font-size: 26px;
  text-align: center;
}

.dux-text {
  color: white;
  padding-bottom: 60px;
}

.coletivo-text,
.inicio-2,
.inicio-1 {
  color: blueviolet;
}

#linha {
  border-radius: 15px;
  border-color: blueviolet;
  border-style: solid;
}

.inputText,
.inputPesquisa {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#pesquisa {
  border-radius: 15px;
  border-color: blueviolet;
  border-style: solid;
  color: white;
  background-color: blueviolet;
}
